<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='sign-up.css')}}">
    <title>Sign Up</title>
</head>
<body>
    <container class="sign-up">
        <form method="post">
            <div class="input-field">
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
            </div>
            <div class="input-field">
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="input-field">
                <label for="password">Password</label>
                <input type="text" name="password" id="password">
            </div>
            <div class="input-field">
                <label for="major">Major</label>
                <input type="text" name="major" id="major">
            </div>
            <div class="input-field">
                <label for="institution">University</label>
                <input type="text" name="institution" id="university">
            </div>
            <button type="submit">Sign Up</button>
        </form>
    </container>
</body>
</html>